<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> 
    <title><%= movie.title %></title>
</head>
<body>
    <%- include('include/nav') %>
    <div class="container-details"><div>
        <h1><%= movie.title %></h1>
        <p><strong>Director:</strong> <%= movie.director %></p>
        <p><strong>Year:</strong> <%= movie.year %></p>
        <img src="<%= movie.logo %>" alt="<%= movie.title %> Logo" width="400">
      
         <div class="button-container">  <a href="/api/get" class="button">Movie List</a></div>
         <div class="button-container">  <a href="/api/update/<%= movie.id %>" class="button">Update Movie</a></div>
         <div class="button-container">
            <form action="/api/delete/<%= movie.id %>" method="POST" class="delete-form">
                <input type="hidden" name="_method" value="DELETE"> 
                <button type="submit" onclick="return confirm('Sei sicuro di voler eliminare questo film?');">Delete Movie</button>
            </form>
        </div>
        
        
      
      
    </div>
   
  
      
      
     
    </div>
  
</body>
</html>
